<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-left navbar-item">
        <div><a href="/" target="_blank">
            <img src="images/logo.png" class="navbar-logo">
        </div><div>
            <h1 class="navbar-title">Salade party</h1>
        </div></a>
    </div>
</nav>

<div class="title">
	<div class="pres">
		<h1> Salade Party</h1>
	</div>
	<div class="sub-title">
		<p>Les salades qui donnent envie !</p>
	</div>
</div>


<!-- SlideShow -->
<div class="carousel-box">
            <img src="images/arrow-left.png" class="carousel-arrow" id="carousel-arrow-left">
            <div class="carrousel-content">
                <div>
                	<img src="images/img1.jpg" class="carousel-photo" id="carrousel-photo1">
                    <img src="images/img2.jpg" class="carousel-photo" id="carrousel-photo2">
                    <img src="images/img3.jpg" class="carousel-photo" id="carrousel-photo3">
                    <img src="images/img4.jpg" class="carousel-photo" id="carrousel-photo4">
                </div>
                <div class="carousel-dot-box">
                	<img src="images/dot.png" class="carousel-dot" id="carrousel-dot1">
                	<img src="images/dot.png" class="carousel-dot" id="carrousel-dot2">
                	<img src="images/dot.png" class="carousel-dot" id="carrousel-dot3">
                	<img src="images/dot.png" class="carousel-dot" id="carrousel-dot4">

                </div>            
            </div>
            <img src="images/arrow-right.png" class="carousel-arrow" id="carousel-arrow-right">
        </div>

<!-- Tab -->
	<div class="page2-background">
		<div class="page2-items">
			<div class="page2-tabs">
    			<div class='tab-selector' id='tab-selector1'>
    				<p>Présentation</p>
    			</div>
    			<div class='tab-selector' id='tab-selector2'>
    				<p>Menu</p>
    			</div>
   				<div class='tab-selector' id='tab-selector3'>
    				<p>Offres</p>
    			</div>
			</div>

			<div class="page2-content">
				<div id="tab-content1">
					<p>Salade Party vous propose de composer vous même vos salade.<br>
					Que des produits frais et bio... Blablalalaa</br>
					Que des produits frais et bio... Blablalalaa</p>
					<p>Salade Party vous propose de composer vous même vos salade.<br>
					Que des produits frais et bio... Blablalalaa</br>
					Que des produits frais et bio... Blablalalaa</p>
				</div>
				<div id="tab-content2">
					<p>Menu En construction</p>
					<p>Salade Party vous propose de composer vous même vos salade.<br>
					Que des produits frais et bio... Blablalalaa</br>
					Que des produits frais et bio... Blablalalaa</p>
				</div>
				<div id="tab-content3">
					<p>Offres En construction</p>
					<p>Salade Party vous propose de composer vous même vos salade.<br>
					Que des produits frais et bio... Blablalalaa</br>
					Que des produits frais et bio... Blablalalaa</p>
				</div>
			</div>
		</div>
	</div>
</div>



